//HomeHeader
.link {
  text-decoration: none;
  color: black;
}
.header {
  height: 100vh;
}
.header-picture {
  background-image: url(../../assets/Home-Hero-Image.jpg);
  background-size: cover;
  background-position: right;
}
.header-section {
  flex-direction: column;
}
.login {
  justify-content: flex-end;

  p {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid white;
    &:hover {
      border: 2px solid $happyYellow-color;
      cursor: pointer;
    }
  }
}
nav {
  ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
    li {
      margin-left: 30px;
      padding: 10px;
      font-size: 15px;
      text-align: center;
      border: 2px solid white;
      &:hover {
        border: 2px solid $darkGrey-color;
        cursor: pointer;
      }
    }
  }
}
.main-header {
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    padding: 10px;
    font-size: 25px;
  }
}
.buttons-header {
  margin-top: 20px;
  justify-content: center;

  button {
    margin: 20px;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: 1px solid $darkGrey-color;
    font-size: 25px;
    font-weight: 200;
  }
}
// HomeThreeColumns
.info-columns {
  background-color: $happyYellow-color;
}
.list {
  border-bottom: 2px solid black;
}
.list-box {
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid $darkGrey-color;
}
.info-box {
  padding: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  h2 {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    padding: 15px;
  }
  p {
    margin: 0;
    padding: 10px;
  }
}
.box-a {
  height: 15vh;
  justify-content: center;
}
//HomeInfo
.step-box {
  flex-direction: column;
  align-items: center;
}
.step-columns {
  justify-content: center;
  background-color: $lightGrey-color;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}
.what-to-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  div {
    border-bottom: 2px solid $darkGrey-color;
    width: 80%;
  }
  p {
    text-align: center;
  }
}
.btn {
  margin: 20px;
  width: 200px !important;
  height: 100px;
  background-color: transparent;
  border: 1px solid $darkGrey-color;
  font-size: 25px;
  font-weight: 200;
}
//AboutUs

.picture-about {
  background-image: url(../../assets/People.jpg);
  background-size: cover;
}
.about-us-section {
  height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid $darkGrey-color;
}
.about-us-section-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  div {
    display: flex;
    justify-content: flex-end;
  }
}
//Propagation
.column {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.organization {
  align-items: center;
  justify-content: center;
  p {
    padding: 30px;
    width: 200px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
  }
}
.border {
  border: 2px solid $darkGrey-color;
}
.border-white {
  border: 2px solid white;
}
.line {
  border-bottom: 2px solid $darkGrey-color;
}

.numbers {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.numbers {
  li {
    padding: 20px;
    margin: 5px;
    color: $darkGrey-color;
    list-style-type: none;
    cursor: pointer;
  }
}

.activeLi {
  border: 1px solid $darkGrey-color;
}
.contact-section {
  margin-top: 50px;
  height: 100vh;
}
.contact {
  height: 95%;
}
.contact-img {
  background-size: 180% 80%;
  background-image: url(../../assets/Background-Contact-Form.jpg);
  background-repeat: no-repeat;
  background-position: left;
  filter: blur(0px) brightness(0.9) contrast(1.1) grayscale(0.14)
    hue-rotate(0deg) invert(0.1) opacity(19%) saturate(4.2) sepia(0.24)
    drop-shadow(0px 0px 5px #000);
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 10px;
  font-size: 1rem;
  p {
    padding: 10px;
    color: $darkGrey-color;
  }
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  font-size: 1rem;
  p {
    padding: 10px;
    color: $darkGrey-color;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.input-fields {
  justify-content: center;
  text-align: center;
  label {
    padding: 10px;
  }
  p {
    text-align: start;
    font-weight: 700;
    color: $darkGrey-color;
    font-size: 0.8rem;
  }
  input {
    outline: none;
    border: none;
    border-bottom: 1px solid $darkGrey-color;
  }
}
.text-message {
  p {
    text-align: center;
    font-weight: 700;
    color: $darkGrey-color;
    font-size: 0.8rem;
  }
  textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid $darkGrey-color;
  }
}
.submit-btn {
  border: 1px solid $darkGrey-color;
  background-color: transparent;
  padding: 10px 40px;
  font-size: 0.8rem;
}
.registration {
  flex-direction: column;
}
.registration-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  label {
    display: block;
  }
  input {
    display: block;
  }
  h1 {
    text-align: center;
  }
}

.registration-box-small {
  background-color: $lightGrey-color;
  padding: 40px;
  label {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $darkGrey-color;
  }
}
.registration-bottom {
  justify-content: space-between;
  padding: 10px;
  input {
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    &:hover {
      border: 1px solid $darkGrey-color;
      cursor: pointer;
    }
  }
}
.whiteNone {
  color: white !important;
}
.warning {
  color: red !important;
}
.hura {
  color: green !important;
}
